.blog-card {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    position: relative;


    .blog-img {
        height: 209px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .blog-body {
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .blog-infos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 12px;

            span {
                font-size: 12px;
                color: #868686;
            }


        }

        .blog-title {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            margin-top: 24px;
        }

        .btn-pass {
            background-color: #f2f2f2;
            border: none;
            border-radius: 12px;
            width: fit-content;
            margin-top: 12px;
            padding: 12px;
            font-weight: 500;
            box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.45);
        }
    }

    .views {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: #fff;
        border-radius: 12px;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px 8px;

        span {
            font-size: 12px;
            color: #868686;
        }
    }


}