@use '../../abstracts/mixins' as *;

.catalog-card {
    height: 370px;
    box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.59);
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    .catalog-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        color: #000;
        text-align: center;

        @include mq(tablet-portrait-up) {
            font-size: 24px;
        }

        @include mq(phone-only) {
            font-size: 20px;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .btn-more {
        position: absolute;
        bottom: 40px;
        right: 30px;
        width: fit-content;
        height: fit-content;
    }


}