.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .card-icon {
        background-color: #6DA4AF;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-title {
        font-size: 24px;
    }

    .card-info {
        font-size: 14px;
    }
}