.pagination-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 32px;
    padding: 16px;
    border-radius: 12px;

    button {
        padding: 8px 12px;
        border: 1px solid #dedede;
        border-radius: 12px;
        background-color: transparent;
        font-size: 14px;
    }
}