// Product Card (slide içindəki kart)

.product-card {
    background: #fff;
    border-radius: 18px;
    padding: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    div {
        width: 100%;
    }

    .fav-btn {
        position: absolute;
        top: 12px;
        right: 24px;
        width: 20px;
        height: 20px;
        border: 0;
        background: transparent;
        cursor: pointer;
        display: grid;
        place-items: center;

    }

    .img-wrap {
        width: 90%;
        height: 250px !important;
        overflow: hidden;
        border-radius: 16px;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            border-radius: 16px;
        }
    }

    .infos {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding-top: 8px;
        margin-top: 24px;

        .title {
            color: #111;
            margin: 0;
        }

        .old-price {
            font-size: 12px;
            color: #868686;
            font-weight: 600;
            text-decoration: line-through;
        }

        .new-price {
            font-size: 14px;
            color: #e10000;
            font-weight: 700;
            margin: 0;
        }
    }

    .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;

        .views {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                width: 12px;
                height: 12px;
            }

            span {
                font-size: 12px;
                color: #868686;
            }
        }

        .date {
            text-align: right;
            span {
                font-size: 12px;
                color: #868686;
            }
        }
    }
}