// Product Card (slide içindəki kart)

.product-card {
    background: #fff;
    border-radius: 18px;
    padding: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;

    .fav-btn {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 30px;
        height: 30px;
        border: 0;
        background: transparent;
        cursor: pointer;
        display: grid;
        place-items: center;

    }

    .img-wrap {
        height: 250px !important;
        overflow: hidden;
        border-radius: 16px;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            border-radius: 16px;
        }
    }

    .infos {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding-top: 8px;

        .title {
            color: #111;
            margin: 0;
        }

        .old-price {
            font-size: 12px;
            color: #868686;
            font-weight: 600;
            text-decoration: line-through;
        }

        .new-price {
            font-size: 14px;
            color: #e10000;
            font-weight: 700;
            margin: 0;
        }
    }
}
