@use '../abstracts/mixins' as *;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    border: none;
    outline: none;
}

select {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    outline: none;
    border: none;
}