// base
@use './base/base';
@use './abstracts/mixins';
@use './abstracts/variables';


// layout
@use './layout/header.scss';
@use './layout/footer.scss';
@use './layout/topbar';
@use './layout/bottombar';
@use './layout/nav';
@use './layout/breadcrumb';
@use './layout/mobileSearch';

// components
// cards
@use './components/cards/productCard';
@use './components/cards/blogCard';
@use './components/cards/pagination';
@use './components/cards/featureCard';
@use './components/cards/catalogCard';
// selects
@use './components/selects/select';
// inputs
@use './components/inputs/inputWithLabel';
@use './components/inputs/headerSearch';
// buttons
@use './components/buttons/formButton';
@use './components/buttons/btnMore';
// dropdowns
@use './components/dropdowns/menuDropdown';
// offcanvas
@use './components/offcanvas/headerOffcanvas';
@use './components/offcanvas/navOffcanvas';
// swiper
@use './components/swiper/fotoramaSwiper';
@use './components/swiper/swiper';
// fotorama
@use './components/fotorama/fotorama';

// pages
@use './pages/index';
@use './pages/productList';
@use './pages/blogs';
@use './pages/login';
@use './pages/register';
@use './pages/favorites';
@use './pages/blogDetails';
@use './pages/aboutUs';
@use './pages/contact';
@use './pages/catalogs';
@use './pages/productDetails';

@use './pages/test';