.input-with-label{
    display: flex;
    flex-direction: column;
    gap: 8px;

    label{
        font-weight: 500;
        font-size: 14px;
    }

    input{
        border: 1px solid #dedede;
        border-radius: 6px;
        padding: 8px;
    }
}