.breadcrumb {
    padding: 5px 60px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #fff;
    box-shadow: 0px 13px 16px -15px rgba(0, 0, 0, 0.78);

    a {
        color: #000;
    }

    .navigation {
        color: #977300;
    }

}