@use '../abstracts/mixins' as *;

.breadcrumb {
    padding: 5px 60px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #fff;
    box-shadow: 0px 8px 7px -8px rgba(0,0,0,0.78);

    @include mq(tablet-portrait-up){
        padding: 5px 20px;
        font-size: 12px
    };

    a {
        color: #000;
    }

    .navigation {
        color: #977300;
    }

}