footer {
    padding: 48px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-left {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .logo{
            height: 65px;
            width: fit-content;

            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        .slogan {
            font-size: 15px;
        }
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .contact-infos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;

            .info-div {
                display: flex;
                align-items: center;
                gap: 12px;

                a {
                    color: #000;
                    font-weight: 500;
                }

                span {
                    font-weight: 500;
                }

            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
            width: 100%;

            a {
                color: #000;
            }
        }
    }

}