@use '../abstracts/mixins' as *;

header {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-top: 2px solid #dedede;
    border-bottom: 1px solid #dedede;

    @include mq(tablet-portrait-up) {
        padding: 12px 20px;

        .desktop-menu-dropdown{
            display: none;
        }
    }

    .menu-icon {
        cursor: pointer;
        position: relative;
        border: none !important;
        background-color: transparent;

        &::after {
            display: none;
        }
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: 24px;
        cursor: pointer;



        .plus-div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px;
            background-color: #977300;
            border-radius: 50%;
        }

        .profile-div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #dedede;
            padding-right: 24px;

            img {
                width: 32px;
                height: 32px;
            }

            @include mq(tablet-portrait-up) {
                border-right: none;
                padding-right: 0;
            }

        }

        .favorite-div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #dedede;
            padding-right: 24px;

            img {
                width: 28px;
                height: 28px;
            }

            @include mq(tablet-portrait-up) {
                border-right: none;
                padding-right: 0;
            }
        }

        .btn-group {

            .dropdown-toggle {
                font-size: 22px;
                display: flex;
                align-items: center;
                gap: 12px;
                padding: 0 !important;

                &::after {
                    display: none;
                }

                &:focus {
                    border: none;
                }
            }
        }

    }

    .header-offcanvas-btn{
        @include mq(tablet-portrait-down){
            display: none;
        }
    }

}