@use '../abstracts/mixins' as *;

.mobile-search-div {
    background-color: #B08808;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    gap: 24px;

    .menu-icon {
        cursor: pointer;
        position: relative;
        border: none !important;
        background-color: transparent;

        img{
            width: 30px;
            height: 30px;
        }

        &::after {
            display: none;
        }
    }

    .mobile-search-input-div {
        background-color: #fff;
        padding: 12px;
        border-radius: 12px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include mq(tablet-portrait-down) {
        display: none;
    }

    .dropdow-menu{
        left: 30px !important;
    }
}