nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;

    .nav-links {
        display: flex;
        align-items: center;
        gap: 90px;
        margin-bottom: 0 !important;
        margin-top: 0 !important;

        .nav-link {
            font-weight: 500;

        }

        .active {
            color: #B08808;
        }
    }
}