nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .nav-links {
        display: flex;
        align-items: center;
        gap: 90px;

        .nav-link {
            font-weight: 500;
        }

        .active {
            color: #B08808;
        }
    }
}