.topbar{
    display: flex;
    justify-content: center;
    background-color: #fff;

    .logo{
        height: 60px;
        img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}