@use '../../abstracts/mixins' as *;

.header-offcanvas {

    .offcanvas-header {
        padding: 6px;
        border-bottom: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .offcanvas-title {
            font-size: 22px;
        }

        .offcanvas-close {
            background-color: transparent;
            border: none;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .offcanvas-body {

        display: flex;
        flex-direction: column;

        .offcanvas-item {
            display: flex;
            align-items: center;
            transition: all .2s ease-in;

            &:hover {
                transform: scale(1.1);
                background-color: #fff;

                span {
                    color: #977300;
                }
            }

            span {
                color: #000;
            }

            img {
                width: 50px;
                height: 50px;
            }

            .arrow {
                width: 24px;
                height: 24px;
                margin-left: auto;
            }

            span {
                font-weight: 500;
            }
        }
    }
}