.nav-offcanvas {
    max-width: 300px;

    .offcanvas-header {
        padding: 0px;
        border-bottom: 1px solid #9F801D;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            height: 60px;

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        .offcanvas-close {
            background-color: transparent;
            border: none;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .offcanvas-body {

        display: flex;
        flex-direction: column;

        .offcanvas-item {
            display: flex;
            align-items: center;
            gap: 8px;
            transition: all .2s ease-in;
            padding: 12px;

            &:hover {
                transform: scale(1.1);
                background-color: #fff;

                span {
                    color: #977300;
                }
            }

            span {
                color: #000;
                font-size: 16px;
                font-weight: 400;
            }

            img {
                width: 20px;
                height: 20px;
            }

            .arrow {
                width: 24px;
                height: 24px;
                margin-left: auto;
            }

            span {
                font-weight: 500;
            }
        }
    }
}