.menu-dropdown{
    padding: 24px;
    background-color: #fff;
    position: absolute;

    .dropdown-item{
        img{
            width: 12px;
            height: 12px;
        }

        .arrrow{
            width: 24px;
            height: 24px;
        }

        span{

        }
    }
}