.about-us-page-container {
    .about-us-section {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px;

        .section-intro {
            display: flex;
            padding: 40px;

            .product-shapes {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 32px;
                width: 40%;

                .shape-item {
                    width: 110px;
                    height: 176px;
                    border-radius: 999px;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .shape-top {
                    display: flex;
                    gap: 32px;
                    align-items: center;
                }

                .shape-bottom {
                    display: flex;
                    gap: 32px;
                }

            }

            .text-side {
                width: 60%;
                display: flex;
                gap: 24px;

                .line {
                    height: 100%;
                    min-width: 1px;
                    background-color: #868686;
                }

                .text-box {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    width: 50%;

                    .text-title {
                        font-size: 20px;
                        font-weight: 600;
                        color: #6DA4AF;
                    }
                }
            }
        }

        .features {
            display: flex;
            gap: 40px;
            justify-content: center;
        }

        .section-actions {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 24px;
            background-color: #ececec;

            a {
                padding: 12px;
                text-align: center;
                color: #fff;
                border-radius: 12px;
                background-color: #D4AF37;
                font-weight: 500;
                box-shadow: 0px 2px 10px -3px #000000;
            }

        }
    }
}