.blog-details-page-container {

    .blog-details {
        padding: 40px 120px;


        .blog {
            display: flex;
            flex-direction: column;
            gap: 64px;
            border: 2px solid #dedede;
            border-radius: 16px;

            &-header {
                border-radius: 16px;
                overflow: hidden;
                display: flex;
                background-color: #fff;

                .blog-image {

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .header-details {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    padding: 24px;
                    width: 100%;

                    .writer {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        &-image {
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            overflow: hidden;

                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        &-role {
                            font-size: 12px;
                        }
                    }

                    .blog-title {
                        font-size: 24px;
                    }

                    .blog-tags {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .tag {
                            background-color: #ececec;
                            border-radius: 12px;
                            padding: 4px;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }

                    .header-actions {
                        margin-top: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-top: 1px solid #dedede;
                        padding-top: 8px;

                        button {
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            border: none;

                            span {
                                font-size: 14px;
                                color: #868686;
                            }
                        }

                    }

                }
            }

            &-content {
                background-color: #fff;
                padding: 24px;
                border-radius: 16px;
            }

        }



    }

}