@use '../abstracts/mixins' as *;

.contact-us-container {

    .contact-us {
        padding: 50px 100px 300px 50px;
        display: flex;
        gap: 200px;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            padding: 24px 50px 24px 24px;
            gap: 50px;
        }

        .form-title {
            font-size: 32px;
            font-weight: 200;
            margin-bottom: 8px;
        }

        .contact-form {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 24px;

            @include mq(tablet-portrait-up) {
                width: 100%;
            }

            input {
                padding: 12px;
                background-color: transparent;
                font-size: 16px;
                border: 1px solid #d4d4d4;
                border-radius: 12px;
                width: 100%;
            }

            textarea {
                padding: 12px;
                background-color: transparent;
                font-size: 16px;
                border: 1px solid #d4d4d4;
                border-radius: 12px;
                width: 100%;
                height: 200px;
            }

            .form-button {
                width: 25%;
            }
        }

        .contact-infos {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 50%;

            @include mq(tablet-portrait-up) {
                width: 100%;
            }

            .info-div {
                color: #B49532;
                font-size: 14px;
                padding-bottom: 12px;
                border-bottom: 1px solid #d4d4d4;
            }
        }
    }

}