@use '../abstracts/mixins' as *;

.favorites-list-container {

    .favorites-container {
        padding: 40px 50px;

        .products {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(5, 1fr);
            gap: 32px;

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mq(phone-only) {
                grid-template-columns: repeat(1, 1fr);
            }
        }



    }

    .no-favorites {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding: 200px 40px 200px 40px;

        span {
            font-size: 36px;
            font-weight: 500;
            text-align: center;
        }

        a {
            background-color: #D4AF37;
            padding: 8px;
            color: #fff;
            border-radius: 12px;
        }
    }

}