@use "../abstracts/mixins" as *;

.homepage-container {
    background-color: #efefef;

    .hero-container {
        position: relative;

        img {
            object-fit: contain;
            width: 100%;
        }

    }

    .our-categories {
        padding: 50px 40px 100px 40px;

        .categories {
            display: flex;
            align-items: center;
            justify-content: center;

            .category-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #000;

                .category-img {
                    width: fit-content;
                    height: 150px;

                    @include mq(tablet-portrait-up) {
                        height: 120px;
                    }

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }

        @include mq(tablet-portrait-up) {
            padding: 30px 30px 50px 30px;
        }
    }

    .swiper-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .section-title {
            font-size: 36px;
            align-self: flex-start;
            margin-left: 30px;
        }

        .swiper-container {
            padding: 24px 24px 40px;
            padding: 0;
            position: relative;
            width: 95%;

            .product-swiper {
                margin-top: 50px;

            }
        }

        @include mq(tablet-portrait-up) {
            .section-title {
                font-size: 22px;
                font-weight: 500;
            }

            .swiper-container {
                display: none;
            }
        }

        .product-list-mobile {
            width: 100%;
            margin-top: 10px;
            padding: 0px 24px 40px 24px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;


            @include mq(tablet-portrait-down) {
                display: none;
            }
        }
    }

    .banners {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        padding: 0 30px;

        .banner {
            width: 670px;
            height: 330px;
            flex-grow: 1;
            border-radius: 12px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            @include mq(tablet-portrait-up) {
                height: 110px;
            }

        }
    }

    .house-and-decoration {
        padding: 40px 30px;
        display: flex;
        justify-content: space-between;

        .section-left {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 50%;

            .section-title {
                font-size: 32px;
                font-weight: 600;
                width: fit-content;
                border-bottom: 1px solid black;

                @include mq(tablet-portrait-up) {
                    font-size: 24px;
                }
            }

            .category-button {
                padding: 12px;
                color: #fff;
                background-image: linear-gradient(to bottom, #d4af37, #cea72d, #c79e22, #c19615, #ba8e02);
                border-radius: 12px;
                min-width: 100px;
                max-width: fit-content;
                text-align: center;

                @include mq(tablet-portrait-up) {
                    font-size: 14px;
                }
            }

            .product-images {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-top: 12px;

                @include mq(tablet-portrait-up) {
                    display: none;
                }

                .product-img {
                    width: 140px;
                    height: 140px;
                    border-radius: 12px;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .btn-more-div {
            display: flex;

            .btn-more {
                padding: 12px;
                text-align: center;
                color: #fff;
                background-color: #000;
                border-radius: 12px;
                margin-top: auto;
                text-wrap: nowrap;
            }
        }

        .section-right {
            width: 50%;
            display: flex;

            .img-div {
                width: 315px;
                height: 380px;
                border-radius: 12px;
                overflow: hidden;
                margin-left: auto;

                @include mq(tablet-portrait-up) {
                    width: 125px;
                    height: 150px;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }

    .our-catalogs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 50px 20px 200px 20px;

        @include mq(tablet-portrait-up){
            padding-bottom: 50px;
        }

        .section-title {
            font-size: 36px;
        }

        .catalogs {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 24px;

            .catalog-card {
                @include mq(tablet-portrait-up) {
                    max-height: 170px;

                    .btn-more {
                        bottom: 20px;
                        right: 10px;

                        span {
                            font-size: 15px;
                        }

                        padding: 6px;
                    }

                    .catalog-title {
                        font-size: 24px;
                    }
                }
            }
        }


    }
}