@use '../abstracts/mixins' as *;

.login-page-container {

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 40px 200px 40px;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 20px 20px 100px 20px;
        }

        .page-title {
            font-size: 36px;
            font-weight: 500;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            padding: 40px;
            width: 40%;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0px 6px 23px 0px rgba(0, 0, 0, 0.37);

            @include mq(tablet-portrait-up) {
                width: 100%;
            }

            .input-with-label {
                width: 80%;
            }

            .form-button {
                width: 80%;
            }

            .login-actions {
                display: flex;
                justify-content: space-between;
                width: 80%;

                a {
                    font-size: 14px;
                    color: #000;
                }
            }

        }

    }

}