.login-page-container {

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 32px;

        .page-title {
            font-size: 36px;
            font-weight: 500;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            padding: 40px;
            width: 40%;
            background-color: #fff;
            border-radius: 12px;

            .input-with-label {
                width: 60%;
            }

            .form-button {
                width: 60%;
            }

        }

    }

}