.product-list-container {

    .filters-container {
        padding: 10px 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        select {
            flex-grow: 1;
        }
    }

    .products-container {
        padding: 40px 50px;

        .products {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(5, 1fr);
            gap: 32px;
        }



    }

}