@use '../abstracts/mixins' as *;

.product-list-container {

    .filters-container {
        padding: 10px 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            padding: 10px 24px;
        }

        select {
            flex-grow: 1;

            @include mq(tablet-portrait-up) {
                width: 100%;
            }
        }
    }

    .products-container {
        padding: 40px 50px;

        @include mq(tablet-portrait-up) {
            padding: 20px 25px;
        }

        .products {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(5, 1fr);
            gap: 32px;

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(2, 1fr);
            }
        }



    }

}